.people {
    padding: 5% 20%;
   
}
.ourtext {
    text-align: justify;
}
.atag {
    text-decoration: none;
    color: black;
}
.desc {
    font-family: "Amiri";
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    letter-spacing: .01em;
    line-height: 1.5;
}
@font-face {
    font-family: 'swiftneueltw01';
    src: url('../Font/Swift-Neue-LT-W01.ttf') format('truetype');
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
    .people {
        padding: 5% 5%;
    }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
    .people {
        padding: 5% 5%;
    }
}